NODE_ENV=DEVELOPMENT
PORT=8000

# Mongodb Config
MONGODB_USER=
MONGODB_PASS=
MONGODB_HOST=
MONGODB_NAME=

# Crypto Config
CRYPTO_AES_256_CBC_KEY=
CRYPTO_HMAC_SHA_256_SECRET=

# Jwt Secret
JWT_SECRET=
